<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Izin untuk mengakses internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SavesTheKunti"
        tools:targetApi="31">

        <activity
            android:name=".Config.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.MainActivity"/>
        <activity android:name=".Activity.SelectFighterActivity"/>
        <activity android:name=".Activity.GameActivity"/>
        <activity android:name=".Activity.GameView"/>
        <activity android:name=".Activity.GameActivity2"/>
        <activity android:name=".Activity.SelectLevelActivity" />
        <activity android:name=".Activity.InfoMenuActivity"/>
        <activity android:name=".Database.Register"/>
        <activity android:name=".Database.Login"/>
        <activity android:name=".Activity.ProfilActivity"/>
        <activity android:name=".Database.Admin"/>
        <activity android:name=".Database.AccountCenter"/>

        <activity android:name=".Model.EditAsAdminActivity"/>

    </application>

</manifest>
